.container {
  min-width: 100%;
  margin-bottom: 30px;
}

.nav {
  display: flex;
  gap: 15px;
  list-style-type: none;
}

.link {
  font-size: 25px;
  color: black;
  text-decoration: none;
}

.active {
  color: rgb(28, 134, 28);
}
